__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints
venv/

thumbs.db
.DS_Store
.idea
dist/clip-jax-0.1.0.tar.gz
dist/clip-jax-0.1.1.tar.gz
dist/clip-jax-0.1.2.tar.gz
dist/clip-jax-0.1.3.tar.gz
dist/clip_jax-0.1.0-py3-none-any.whl
dist/clip_jax-0.1.1-py3-none-any.whl
dist/clip_jax-0.1.2-py3-none-any.whl
dist/clip_jax-0.1.3-py3-none-any.whl
